---
---
@import 'foundation';
@include foundation-everything;
@import 'https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600';
$primary-color: green;
$secondary-color: blue;
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Merriweather', serif;

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}
